@use 'src/styles/vars';

.accueil {
  .main-navbar {
    &__logo {
      width: 80px;
    }
  }
  .section1 {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    &__main {
      text-align: center;
      display: flex;
      align-items: center;
      flex: 1;
      .row {
        flex: 1;
      }
      &__logo {
        width: 25rem;
        animation: zoomIn 2s;
        -webkit-animation: zoomIn 2s;
        -moz-animation: zoomIn 2s;
        -o-animation: zoomIn 2s;
        @media screen and (max-width: 767px) {
          width: 15rem;
        }
      }
    }
    &__footer {
      text-align: center;
      &__chevron {
        color: vars.$primary-yellow;
        cursor: pointer;
      }
      &__white-stripe {
        height: 4rem;
        background-color: white;
        width: 100%;
      }
    }
    &__cloods {
      width: 50vw;
      position: absolute;
      bottom: 2rem;
      @media screen and (max-width: 767px) {
        width: 75vw;
        bottom: 4rem;
      }
    }
  }

  .section2 {
    height: 100vh;
    &__header {
      height: 4rem;
    }
    &__main {
      &__part2 {
      }
      &__part3 {
        text-align: justify;
      }
    }
  }
}
