@use 'src/styles/vars';

.accueil {
  .section1 {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: vars.$primary-blue;
    display: flex;
    align-items: center;
    text-align: center;

    .main {
      display: flex;
      align-items: center;
      &__logo {
        img {
          width: 25rem;
          @media screen and (max-width: 767px) {
            width: 15rem;
          }
        }
      }
    }
    .footer {
      position: absolute;
      bottom: 50px;
      left: 0;
      width: 100%;
    }
    .nuage {
      left: 0;
      bottom: 0;
      height: 4rem;
      width: 100%;
    }
    .chevron {
      color:  vars.$primary-yellow;
      left: 50%;
      bottom: 10%;
      cursor: pointer;
    }
  }
  .section-two {
    width: 100vw;
    height: 100vh;
    &__gutterup {
      height: 4rem;
    }
  }
  .section-three {
    width: 100vw;
    height: 100vh;
    background-color: lightgray;
  }
}

.big {
  padding: 2rem;
}
