@use 'src/styles/vars';

.accueil {
  .section1 {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: vars.$primary-blue;
    display: flex;
    flex-direction: column;
    &__main {
      text-align: center;
      display: flex;
      align-items: center;
      flex: 1;
      .row {
        flex: 1;
      }
      &__logo {
        width: 25rem;
        animation: zoomIn 2s;
        -webkit-animation: zoomIn 2s;
        -moz-animation: zoomIn 2s;
        -o-animation: zoomIn 2s;
        @media screen and (max-width: 767px) {
          width: 15rem;
        }
      }
    }
    &__footer {
      text-align: center;
      &__chevron {
        color: vars.$primary-yellow;
        cursor: pointer;
      }
      &__white-stripe {
        height: 4rem;
        background-color: white;
        width: 100%;
      }
    }
    &__cloods {
      width: 50%;
      position: absolute;
      bottom: -6rem;
      @media screen and (max-width: 767px) {
        bottom: 2rem;
        width: 75%;
      }
    }
  }
}
