// Palette fédératrice
$primary-blue: #376c7a;
$primary-yellow: #f9cb3a;
$primary-light-blue: #83c5be;
$primary-dark-blue: #22444d;

// Palette secondaire
$secondary-blue: #95bcc7;
$secondary-yellow: #fbdf85;
$secondary-light-blue: #c8e5e2;

// Palette associée
$associate-red: #ff6260;
$associate-pink: #fbd8d9;
$associate-light-pink: #fde8cc;

