@use 'reset';
@use 'vars';
@use 'mixins';

// Custom bootstrap
$enable-shadows: true;
$enable-responsive-font-sizes: true;
$theme-colors: (
  "primary-blue": vars.$primary-blue,
  "primary-yellow": vars.$primary-yellow,
  "primary-light-blue": vars.$primary-light-blue,
  "primary-dark-blue": vars.$primary-dark-blue,
  "secondary-blue": vars.$secondary-blue,
  "secondary-yellow": vars.$secondary-yellow,
  "secondary-light-blue": vars.$secondary-light-blue,
  "associate-red": vars.$associate-red,
  "associate-pink": vars.$associate-pink,
  "associate-light-pink": vars.$associate-light-pink,
);

@import "~bootstrap/scss/bootstrap";

// Polices
.title {
  font-family: "MerriweatherSansBold";
  line-height: 150%;
}
.subtitle {
  font-family: "Merriweather";
}
.quote {
  font-family: "MerriweatherSansLight";
}
.text {
  font-family: "Montserrat";
}
.action {
  font-family: "playlistscript";
  text-transform: lowercase;
}

// dot spin
.dot-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Dot spin */
.dot-spin--blue {
  @include mixins.dot-spin (vars.$primary-yellow);
}

// lighted
.lighted--white {
  @include mixins.lighted(white);
}
.lighted--yellow {
  @include mixins.lighted(vars.$secondary-yellow);
}
